/*
 * @Author: DevZhang 
 * @Date: 2019-05-31 11:03:57 
 * @Last Modified by: DevZhang
 * @Last Modified time: 2019-05-31 11:19:03
 */


body {
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
    color: #00f;
    text-transform: uppercase;
}